@page
@model esh.core.web.Pages.Actors

@{
    ViewData["Title"] = "actors";
}

<div class="row">
    @foreach (var actor in Web.Core.Actors)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@(!string.IsNullOrWhiteSpace(actor.CustomName) ? actor.CustomName : actor.ActorType)</h5>
                    @if (!string.IsNullOrWhiteSpace(actor.CustomDescription))
                    {
                        <p class="card-text">@actor.CustomDescription</p>
                    }
                    <p class="card-text">@actor.LastKnownState</p>
                    <a href="/Config?actor=@actor.Mac" class="btn btn-primary">Edit</a>
                </div>
                <environment include="Development">
                    <div class="card-footer" style="font-family: Hack,monospace; font-size: 8pt">
                        MAC: @actor.Mac<br/>
                        IP: @actor.LastKnownIP<br/>
                        DataType: @actor.WantsDataType<br/>
                        Last Update: @actor.LastPing.ToShortDateString() @actor.LastPing.ToLongTimeString()
                    </div>
                </environment>
            </div>
        </div>
    }
</div>