﻿@page
@model IndexModel
@{
    ViewData["Title"] = "index";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ESH!</h1>
    <p>ESH is an open-source extensible smart home management system.</p>
</div>
