@page
@model esh.core.web.Pages.Sensors

@{
    ViewData["Title"] = "sensors";
}

<div class="row">
@foreach (var sensor in Web.Core.Sensors)
{
    <div class="col-sm-3">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">@(!string.IsNullOrWhiteSpace(sensor.CustomName) ? sensor.CustomName : sensor.SensorType)</h5>
                @if (!string.IsNullOrWhiteSpace(sensor.CustomDescription))
                {
                    <p class="card-text">@sensor.CustomDescription</p>
                }
                <p class="card-text">@sensor.Value @sensor.DisplayUnit</p>
                <a href="/Config?sensor=@sensor.Mac" class="btn btn-primary">Edit</a>
            </div>
            <environment include="Development">
                <div class="card-footer" style="font-family: Hack,monospace; font-size: 8pt">
                    MAC: @sensor.Mac<br/>
                    DataType: @sensor.DataType<br/>
                    Last Update: @sensor.LastUpdated.ToShortDateString() @sensor.LastUpdated.ToLongTimeString()
                </div>
            </environment>
        </div>
    </div>
}
</div>