@page
@model esh.core.web.Pages.Triggers

@{
    ViewData["Title"] = "triggers";
}

<a href="/Config?trigger=new" class="btn btn-primary">New</a>
<br/><br/>

<div class="row">
    @foreach (var trigger in Web.Core.Triggers)
    {
        <div class="col-sm-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@trigger.condition.Type.ToString()</h5>
                    <a href="/Config?trigger=@trigger.id" class="btn btn-primary">Edit</a>
                </div>
                <environment include="Development">
                    <div class="card-footer" style="font-family: Hack,monospace; font-size: 8pt">
                        ConditionType: @(trigger.condition.Type)<br/>
                        ConditionValue: @(trigger.condition.CheckValue.StringValue)<br/>
                        ActionType: @(trigger.action.Type)<br/>
                        Last Trigger: @trigger.LastTrigger.ToShortDateString() @trigger.LastTrigger.ToLongTimeString()
                    </div>
                </environment>
            </div>
        </div>
    }
</div>